rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This is a default-deny rule. 
    // All reads and writes are disallowed until you explicitly grant access.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
